name: I'm Lazy to Code, Please Commit for Me

on:
  workflow_dispatch:
  schedule:
    - cron: "0 9 * * *"

jobs:
  commit-job:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.21"

      - name: Configure Git & Run Script
        run: |
          git config user.name "${{ vars.GIT_USER_NAME }}"
          git config user.email "${{ secrets.GIT_USER_EMAIL }}"
          go run main.go

      - name: Push Changes
        run: |
          git pull --rebase origin main
          git push origin main